.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 2px;
}
.freeBox__zgKLr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.columns__cVt1D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 0;
  padding: 0px;
}
.columns__cVt1D > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__cVt1D > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__cVt1D > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cVt1D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cVt1D > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rnnr1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rnnr1 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___0Nakr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___0Nakr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0Nakr > :global(.__wab_flex-container) > *,
.freeBox___0Nakr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Nakr > :global(.__wab_flex-container) > picture > img,
.freeBox___0Nakr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Nakr > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Nakr > :global(.__wab_flex-container) > *,
  .freeBox___0Nakr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Nakr > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Nakr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__to2Bz {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__to2Bz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__to2Bz > :global(.__wab_flex-container) > *,
.link__to2Bz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__to2Bz > :global(.__wab_flex-container) > picture > img,
.link__to2Bz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__el3Ss {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sbvBw {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__bHnv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yoPaa {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yoPaa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yoPaa > :global(.__wab_flex-container) > *,
.link__yoPaa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yoPaa > :global(.__wab_flex-container) > picture > img,
.link__yoPaa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___8EulP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ynn7A {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__ht1W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column___5Yo6Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5Yo6Y {
    justify-content: center;
    align-items: center;
  }
}
.img__y7RQz {
  object-fit: cover;
  width: 170px;
  height: 100%;
  position: relative;
  filter: none;
  min-height: 0;
}
.img__y7RQz > picture > img {
  object-fit: cover;
}
.img__y7RQz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__wl5Sa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox___1DWny {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1DWny {
    align-items: center;
    justify-content: center;
  }
}
.link__t6Cb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__srol6 {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.link__dm0Uh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__ffC2R {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.link___53Mcw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__np16M {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.section__z9NlQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#262626b8, #262626b8),
    url("/plasmic/next_feed_presell_ai_test/images/image40.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.freeBox__iblOg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80ch;
  max-width: 1440px;
  min-width: 0;
  flex-shrink: 0;
  padding: 53px 0px 79px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iblOg {
    height: auto;
    padding-bottom: 74px;
    padding-top: 59px;
  }
}
.columns__u2Eb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__u2Eb > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u2Eb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u2Eb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0Za14 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___4FjP1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 859px;
  min-width: 0;
  padding: 0px;
}
.freeBox___4FjP1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___4FjP1 > :global(.__wab_flex-container) > *,
.freeBox___4FjP1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4FjP1 > :global(.__wab_flex-container) > picture > img,
.freeBox___4FjP1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
}
.text__qFCwb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 509px;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.columns__tw7Jx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__tw7Jx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.columns__tw7Jx > :global(.__wab_flex-container) > *,
.columns__tw7Jx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tw7Jx > :global(.__wab_flex-container) > picture > img,
.columns__tw7Jx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tw7Jx {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tw7Jx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 20px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tw7Jx > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 20px) * 6 / 12);
  }
}
.column___1Ku2Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__z220I {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000040;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__z220I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__z220I > :global(.__wab_flex-container) > *,
.freeBox__z220I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z220I > :global(.__wab_flex-container) > picture > img,
.freeBox__z220I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h2__wlfj4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__wnnXc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___2CQfQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__jgdoF {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000040;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__jgdoF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jgdoF > :global(.__wab_flex-container) > *,
.freeBox__jgdoF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jgdoF > :global(.__wab_flex-container) > picture > img,
.freeBox__jgdoF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h2__epTzk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__loCin {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__rVzWd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__qPizY {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000040;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__qPizY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qPizY > :global(.__wab_flex-container) > *,
.freeBox__qPizY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qPizY > :global(.__wab_flex-container) > picture > img,
.freeBox__qPizY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h2__phHgo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__vemam {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__lzTg5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__s7C8I {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #00000040;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__s7C8I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__s7C8I > :global(.__wab_flex-container) > *,
.freeBox__s7C8I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7C8I > :global(.__wab_flex-container) > picture > img,
.freeBox__s7C8I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.h2___03ClY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___9Akvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__lbly9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
.link__uqAP {
  position: relative;
  display: flex;
}
.button__gp6Sf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sKbSg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___3ZnXi {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qjwpF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__vceRe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#490b0bed, #490b0bed),
    url("/plasmic/next_feed_presell_ai_test/images/image41.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 70px 12px;
}
.freeBox__zh9J3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__zh9J3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zh9J3 > :global(.__wab_flex-container) > *,
.freeBox__zh9J3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zh9J3 > :global(.__wab_flex-container) > picture > img,
.freeBox__zh9J3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__eqio1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__eqio1 {
    font-size: 35px;
  }
}
.link__d1GGp {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  padding-right: 0px;
  max-width: 425px;
  width: 100%;
  min-width: 0;
}
.freeBox___5Lwqi {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: #000000;
  min-width: 0;
  padding: 64px;
}
.freeBox__wXOjP {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1440px;
  width: 100%;
  min-width: 0;
}
.freeBox__wXOjP > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__wXOjP > :global(.__wab_flex-container) > *,
.freeBox__wXOjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wXOjP > :global(.__wab_flex-container) > picture > img,
.freeBox__wXOjP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXOjP {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXOjP > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wXOjP > :global(.__wab_flex-container) > *,
  .freeBox__wXOjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wXOjP > :global(.__wab_flex-container) > picture > img,
  .freeBox__wXOjP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__fvnIf {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__fvnIf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__fvnIf > :global(.__wab_flex-container) > *,
.freeBox__fvnIf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvnIf > :global(.__wab_flex-container) > picture > img,
.freeBox__fvnIf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.img__k7Bhx {
  object-fit: cover;
  width: 120px;
  height: auto;
  position: relative;
  filter: invert(100%);
}
.img__k7Bhx > picture > img {
  object-fit: cover;
}
.img__k7Bhx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__t6N1I {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__t6N1I > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t6N1I > :global(.__wab_flex-container) > *,
.freeBox__t6N1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6N1I > :global(.__wab_flex-container) > picture > img,
.freeBox__t6N1I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ukcoZ {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__cdKaw {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__cdKaw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cdKaw > :global(.__wab_flex-container) > *,
.freeBox__cdKaw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cdKaw > :global(.__wab_flex-container) > picture > img,
.freeBox__cdKaw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__bp6MU {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg___4SwUa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg___5BS0X {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__fMuha {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__fMuha > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fMuha > :global(.__wab_flex-container) > *,
.freeBox__fMuha > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fMuha > :global(.__wab_flex-container) > picture > img,
.freeBox__fMuha
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__wvUxx {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__bbxae {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__bbxae > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__bbxae > :global(.__wab_flex-container) > *,
.link__bbxae > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bbxae > :global(.__wab_flex-container) > picture > img,
.link__bbxae
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___48Q3O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__s1Amp {
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__wvElN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__nelMv {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__nelMv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__nelMv > :global(.__wab_flex-container) > *,
.link__nelMv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__nelMv > :global(.__wab_flex-container) > picture > img,
.link__nelMv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tkUZe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__skIQh {
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__qwWzL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yoYCw {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__yoYCw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yoYCw > :global(.__wab_flex-container) > *,
.link__yoYCw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yoYCw > :global(.__wab_flex-container) > picture > img,
.link__yoYCw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wdQne {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nCgIq {
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__qghcq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mmont {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__mmont > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mmont > :global(.__wab_flex-container) > *,
.link__mmont > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mmont > :global(.__wab_flex-container) > picture > img,
.link__mmont
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rYnl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__mYm7J {
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__s8J5V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__jkZkz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__jkZkz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jkZkz > :global(.__wab_flex-container) > *,
.freeBox__jkZkz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jkZkz > :global(.__wab_flex-container) > picture > img,
.freeBox__jkZkz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__va4X5 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___91PLa {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___91PLa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___91PLa > :global(.__wab_flex-container) > *,
.link___91PLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___91PLa > :global(.__wab_flex-container) > picture > img,
.link___91PLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pybjM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___64NxT {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__nuTeS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__uljck {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__uljck > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__uljck > :global(.__wab_flex-container) > *,
.link__uljck > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__uljck > :global(.__wab_flex-container) > picture > img,
.link__uljck
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ufE4Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__gWp0 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__hOhzJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__eKZce {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__eKZce > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eKZce > :global(.__wab_flex-container) > *,
.link__eKZce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eKZce > :global(.__wab_flex-container) > picture > img,
.link__eKZce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__gwl5U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dnOlb {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__hax6K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yt3Se {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__yt3Se > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yt3Se > :global(.__wab_flex-container) > *,
.link__yt3Se > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yt3Se > :global(.__wab_flex-container) > picture > img,
.link__yt3Se
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__jwqVo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dwhot {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__c8HHu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__cuzJe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__cuzJe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cuzJe > :global(.__wab_flex-container) > *,
.freeBox__cuzJe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuzJe > :global(.__wab_flex-container) > picture > img,
.freeBox__cuzJe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__m1IC1 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__thdDe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__zIm4F {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__zIm4F > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__zIm4F > :global(.__wab_flex-container) > *,
.freeBox__zIm4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zIm4F > :global(.__wab_flex-container) > picture > img,
.freeBox__zIm4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h8FwZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__abWtE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tjZF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fwsBx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pWLw {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3M9G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
